{{ if .Site.Data.homepage.about.enable }}
<section class="section rad-animation-group pb-0" id="about">
  <div class="container rad-fade-down">
    <div class="row d-flex flex-column-reverse flex-md-row">
      <div class="about__profile-picture col-12 col-md-6">
        <img
          class="lozad img-responsive image-left-overflow"
          src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
          data-src="{{ .Site.Data.homepage.about.image.x | absURL }}"
          data-srcset="{{ .Site.Data.homepage.about.image.x | absURL }} 1x, {{ .Site.Data.homepage.about.image._2x | absURL }} 2x"
          alt="Profile Picture"
        />
      </div>
      <div class="col-12 col-md-6 my-auto my-auto">
        <h1>{{ .Site.Data.homepage.about.title }}
            <br/>
                  <span>
            {{ .Site.Data.homepage.about.subtitle }}
          </span>
        </h1>
        <p class="lead">
          {{ .Site.Data.homepage.about.content | safeHTML }}

        </p>
        <div class="row platform-links">
          <div class="col-12">
            {{ range .Site.Data.homepage.about.socialLinks }}
            <a href="{{ .URL | absURL }}" target="_blank"
              ><i class="icon-{{ .icon }}-line"></i
            ></a>
            {{ end }}
            <a href="mailto:{{.Site.Data.homepage.about.mailID}}" target="_blank"
              ><i class="icon-mail-fill"></i
            ></a>
          </div>
        </div>
<!--         <a
          href="{{ .Site.Data.homepage.about.button.URL | absURL }}"
          target="_blank"
          class="btn btn-primary"
        >
          <i class="{{ .Site.Data.homepage.about.button.icon }}"></i>
          {{ .Site.Data.homepage.about.button.btnText }}
        </a>
 -->
       </div>
    </div>
  </div>
</section>
{{ end }}
